body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.scoreBoard {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.status {
    min-height: 18px;
}